* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comments {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;

  background-color: rgb(190, 150, 255);
}

.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(222, 204, 250);
  padding: 1rem;
 /* margin: 1rem 0rem 0rem 1rem;*/
  min-width: 200px;
  border-radius: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
}

.text {
  margin-bottom: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.date {
  position: absolute;
  bottom: 0.5rem;
}